
body {
    background-image: url("assets/css/images/background.png");
}

.entirePageBox{
    max-width: 450px;
    margin-left: 10px;
}

.headerBox{
}

#instructions{
    border: 5px, solid green;
}

img {
    width: 60px;
    height: 50px;
}