
body {
    margin-top: 10px;
    background-color: rgb(233, 220, 101);

}

.app-container {
    background-color: rgb(233, 220, 101);
    background-image: src("Assets/images/green.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.headerBox{
    margin-left: 10px;
    background-color: orange;
    color: white;
    max-width: 270px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: bold;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(133, 79, 43, 0.527)


}

h1{
    font-size:30px;
    font-weight: bold;
    margin-left: 15px;
}

.instructionPanel{
    max-width: 325px;
    margin-left: 10px;
    background-color: bisque;
    color: green;
    height: 200px;
    padding-top: 15px;
    padding-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(133, 79, 43, 0.527)

}




/*  MIDDLE PANEL    */
.scorePanelBoxPanel{
    margin-left: 10px;

    /* max-width: 200px; */
}

.randomComputerNumberbox{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: green;
    color: white;
    width: 130px;
    height: 100px;
    padding: 0px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(133, 79, 43, 0.527)

}

.winLossbox{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 100px;
    background-color: aquamarine;
    float: left;
    font-size: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(133, 79, 43, 0.527)



   
}

.crystal {

    margin-left: 10px;
    clear: left;

}


.scoreTextBox{
    max-width: 150px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(26, 134, 125);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(133, 79, 43, 0.527)

}

#box{
    height: 30px;
}

#wins{
    padding-top: 30px;
    padding-bottom: 15px;

}

.scoreBox{
    margin-top: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(133, 79, 43, 0.527)

}

p, h2{
    margin-left: 10px;
}

p{
    font-size: 12px;
    font-weight: bold

}

h2 {
    font-size: 30px;
}

img {
    width: 60px;
    height: 50px;
}
button{
    border-style: solid;
    border-width: 2px;
    border-color: rgba(133, 79, 43, 0.527)

}